body {
    font-family: sans-serif;
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

button {
    background-color: green;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
}

label {
    font-weight: bold;
}